[package]
name = "deviantart-py"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
name = "deviantart_py"
crate-type = [ "cdylib" ]

[dependencies]
deviantart = { version = "0.0.0", path = "../deviantart" }
pyo3 = { version = "0.24.0", features = [ "abi3", "abi3-py39" ] }
tokio = { version = "1.44.1", features = ["rt-multi-thread"] }
