[package]
name = "deviantart-py"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
name = "deviantart_py"
crate-type = [ "cdylib" ]

[dependencies]
deviantart = { version = "0.0.0", path = "../deviantart" }
pyo3 = { version = "0.25.1", features = [ "abi3", "abi3-py39" ] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.142"
tokio = { version = "1.47.0", features = ["rt-multi-thread"] }
