[package]
name = "deviantart-cli"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[[bin]]
name = "deviantart"
path = "src/main.rs"

[dependencies]
argh = "0.1.10"
anyhow = "1.0.68"
deviantart = { path = "../deviantart" }
directories-next = "2.0.0"
nd-util = { git = "https://github.com/nathaniel-daniel/nd-util-rs", features = [ "download-to-path" ] }
toml = { version = "0.7.2", features = [ "preserve_order" ] }
tokio = { version = "1.25.0", features = [ "rt-multi-thread", "fs" ] }
serde = { version = "1.0.152", features = [ "derive" ] }
