[package]
name = "deviantart"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
itoa = "1.0.11"
once_cell = { version = "1.19.0", default-features = false }
regex = "1.10.5"
reqwest = { version = "0.12.5", default-features = false, features = [ "cookies", "gzip", "json", "http2" ] }
reqwest_cookie_store = "0.8.0"
serde = { version = "1.0.204", features = [ "derive" ] }
serde_json = "1.0.121"
thiserror = "1.0.63"
tokio = { version = "1.38.0", features = [ "rt" ] }
url = { version = "2.5.2", features = [ "serde" ] }

[dev-dependencies]
tokio = { version = "1.38.0", features = [ "macros", "fs" ] }

[features]
default = [ "rustls-tls" ]

native-tls = [ "reqwest/native-tls" ]
rustls-tls = [ "reqwest/rustls-tls" ]
