[package]
name = "deviantart"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
itoa = "1.0.10"
once_cell = { version = "1.19.0", default-features = false }
regex = "1.10.3"
reqwest = { version = "0.11.24", default-features = false, features = [ "cookies", "gzip", "json" ] }
reqwest_cookie_store = "0.6.0"
serde = { version = "1.0.197", features = [ "derive" ] }
serde_json = "1.0.114"
thiserror = "1.0.57"
tokio = { version = "1.36.0", features = [ "rt" ] }
url = { version = "2.5.0", features = [ "serde" ] }

[dev-dependencies]
tokio = { version = "1.36.0", features = [ "macros", "fs" ] }

[features]
default = [ "rustls-tls" ]

native-tls = [ "reqwest/native-tls" ]
rustls-tls = [ "reqwest/rustls-tls" ]
